<form [formGroup]="exerciseForm" (ngSubmit)="add()">
<div>Exercicio <input fornControlName="name"/>  </div>
<div>Duração <input type="number" fornControlName="duration"/>  </div>
<div>Repetições <input type="number" fornControlName="repetitions"/>  </div>
<div>Preparaçã <input  type="number" fornControlName="preparation"/>  </div>
<div>Descanso <input type="number" fornControlName="rest"/>  </div>
<button type="submit" [disabled]="exerciseForm.invalid">Adicionar</button>
</form>

<table>
  <tr>
    <th>Exercicio</th>
    <th>Duração</th>
    <th>Repetições</th>
    <th>Preparaçã</th>
    <th>Descanso</th>
  </tr>
  <tr *ngFor="let e of ts.exercises; let i = index">
    <th>{{e.name}}</th>s
    <th>{{e.duration}}</th>
    <th>{{e.repetitions}}</th>
    <th>{{e.preparation}}</th>
    <th>{{e.rest}}</th>
    <td><button (click)="delete(i)" >x</button></td>
  </tr>
</table>