/* input[type="number"] {
  width: 5em;
} */

table {
  width: 100%;
}

.mat-column-preco,
.mat-column-acoes {
  text-align: right;
}

form {
  padding: 0 16px;
}

.preco {
  width: 6em;
  margin: 0 16px;
}
